@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,800;0,900;1,300;1,400&display=swap');

$font-stack: 'Bitter', sans-serif;
$light-color: #f4f4f4;
$white-color: #fff;
$primary-color: #000;
$bg-color: #aaf683;
$box1-color: rgb(253, 152, 66);

// --primary-color: #333;
// --secondary-color: #444;
// --third-color: rgba(0, 0, 0, 0.7);
// --fourth-color: rgb(40, 40, 40);
// --fifth-color: #fff;
// --sixth-color: rgb(200, 200, 200);
// --seventh-color: rgb(160, 160, 160);
// --eightth-color: #e63946;
