@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;800;900&display=swap');

$font-stack: 'Bitter', serif;
$light-color: #f4f4f4;
$white-color: rgba(255, 255, 255, 1);
$primary-color: rgb(0, 0, 0);
$box1-color: rgb(253, 152, 66);
$box2-color: #aaf683;
$grey-color: #f2f2f2;
$medium-grey: rgb(160, 160, 160);
$transparent-bg: rgba(0, 0, 0, 0.9);