@media screen and (max-width: 780px) {
  .navbar .header-container .logo {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 0 1rem;
  }

  #showcase .showcase-text .tribute-title h1 {
    font-size: 2.5rem;
  }

  #showcase .showcase-text .tribute-title h2 {
    font-size: 1.4rem;
    padding-top: 0.7rem;
  }

  .main-section {
    padding: 0;
    font-size: 1.1rem;

    #introduction {
      width: 88%;
      font-size: 1.2rem;
    }

    article {
      margin: 0;
    }

    .text {
      width: 88%;

      p {
        padding: 1.8rem 0 1rem 0;
      }

      aside {
        width: 80%;
      }

      .box h2 {
        font-size: 2.4rem;
        margin: 1.8rem 0 0.5rem 0;
      }

      .box h3 {
        padding: 0.4rem 0 0 0;
        margin: 0.2rem 0 -0.8rem 0;
      }
    }
  }

  .menu-wrap {
    display: inline;
  }
  .menu-wrap .menu {
    width: 100vw;
  }
  .menu-wrap .menu > div {
    width: 100vw;
  }
  .menu-wrap .menu > div > div {
    height: 100%;
  }
}
