@import "config";
@import "utils";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  color: $primary-color;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

#showcase {
  background: url(/img/nelson-mandela-showcase.jpeg) no-repeat center
    center/cover;

  .showcase-text {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;

    // #blacklivesmatter {
    //   display: flex;
    //   flex-wrap: wrap;
    //   text-align: center;
    //   justify-content: center;
    //   z-index: 5;
    //   margin-top: 20rem;

    //   .box {
    //     width: 100%;
    //     max-width: 35%;
    //     margin: 5px;
    //     background-color: $primary-color;
    //     color: $white-color;
    //     font-size: 1.3rem;
    //     line-height: 1.1;
    //     padding: 0.5rem;
    //     box-shadow: 7px 0 0 $primary-color, -7px 0 0 $primary-color;
    //   }
    // }

    .tribute-title {
      padding: 2rem;
      margin-top: 35rem;
      background-color: $white-color;
      

      h1 {
        font-size: 4.5rem;
        font-weight: 900;
      }
      h2 {
        font-size: 2.2rem;
        font-weight: 800;
        margin-top: -2rem;
      }
      }
    }
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items:center;
  padding: 3rem 6rem;
  font-size: 1.4rem;
  
  #introduction {
      margin: 2rem 0;
      font-size: 1.6rem;
  }
  .text p {
      padding: 1.5rem 0;
  }
  
}